{% extends "layout.html" %}

{% block title %}
{{book.title}}
{% endblock %}

{% block main %}
<div>
    <p>ISBN-{{book.isbn}}</p>
    <p>Title-{{book.title}}</p>
    <p>Author-{{book.author}}</p>
    <p>Year-{{book.year}}</p>
</div>

{%for review in reviews%}
<div>
    <p>Rating is {{review.rating}}</p>
    <p>{{review.review}}</p>
</div>
{%endfor%}

<div>
    Goodreads Data <br>
    Average rating-{{gr["books"][0]["average_rating"]}} <br>
    Number of ratings-{{gr["books"][0]["work_ratings_count"]}} <br><br>
</div>

<form action="/review" method="GET">
    Rating<br>
    5<input type="radio" name="rating" value="5">
    4<input type="radio" name="rating" value="4">
    3<input type="radio" name="rating" value="3">
    2<input type="radio" name="rating" value="2">
    1<input type="radio" name="rating" value="1"><br>

    Review<br>
    <input type="text" name="review">
    <input type="hidden" name="book_id" value="{{book.id}}">
    <input type="submit" value="Submit review">
</form>

{% endblock %}